*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background {
  position: fixed; /* Ensure it covers the entire viewport */
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: linear-gradient(135deg, #000000, #1a1a2e, #f5f5f5);
  animation: moveBackground 30s ease-in-out infinite alternate;
  z-index: -1; /* Ensure it is behind other content */
}
section #home{
  margin-top: 250px;
}
section #testimonials{
  margin-bottom: 250px;
}
section #about{
  margin-top: 300px;
}
@keyframes moveBackground {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-50%, -50%);
  }
}
/* from app view 
.fira-sans-thin {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

*/
#app {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
    /* -webkit-font-smoothing: antialiased; */
    /* -moz-osx-font-smoothing: grayscale; */
    text-align: center;
    /* color: #000; */
    
  }
  body, html {
    margin: 0;
    padding: 0;
     /* Prevent scrollbars */
    width: 100%;
    height: 100%;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire container */
    z-index: -1; /* Ensure the video is behind other content */
}

  .navbar{
  color: #fff;
  /* position: relative; */
  }
  nav {
    padding: 30px;
    font-size: 31px;
  

  }

  
  nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  nav a.router-link-exact-active {

    color: #fff;

  }
  .formation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
body{
  /* background-color: rgb(60, 49, 176); */
  color: #fff;
  
  


}
.display-2{
  color: white;
}

/* footer */
.feet{
  background-color: grey;
  
}
/* image */
.picture{
  width: 300px;
  border-radius: 15% 15% 26% 26%;
animation: fadePic 1s ease-in;
}
@keyframes fadePic {
  0% {
    opacity: 0.1;
  }
  100%{
    opacity: 1;
  }
}

/* navbar */
.nav-link:hover{
text-decoration: #1a1a2e 5px underline;
}


/* home */
.floating{
  margin-bottom:0 ;
}
.picture{
  height: 330px;
}
/* about */
.display-2{
  text-decoration: underline;
}
/* resume */
/* .eduCard{

} */
#skillImg{
  height: min-content;

}
.data{
  margin-left: 10px;
}
/* contact */
label{
font-weight: bold;
}
/* testimonial */



@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lobster&display=swap');
